.calculator {
    padding: 4rem;
    background-color: #fce4ec;

    .title {
        font-family: 'Lobster', cursive;
        text-shadow: 2px 2px 0 #ff4081;
        margin: 1rem;
    }

    .symbolBtn {
        margin: 6px;
    }

    .input {
        background-color: rgba(17, 146, 114, 0.205);
    }

    .result {
        text-shadow: 2px 2px 0 #ff4080b0;
        margin-bottom: 1rem;
    }

    .iconBtn {
        background-color:rgba(17, 146, 114, 0.205);
        margin: 5px;
    }
    
    .text {
        opacity: 0.6;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');