.header {
    text-align: center;
    background-color: #00695c;
    padding: 2rem;

    .title {
        font-weight: bold;
        color: #ffffff;
        text-shadow: -4px 4px 0 #000000;
    }

    .mathImg {
        width: 70%;
        height:auto
    }
}